<div class="container">
    
    <div class="row">
        <div class="col">
            <figure class="figure">
                <img src="assets/image/7-continents-world-map-editable-powerpoint-slides.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                <figcaption class="figure-caption">7-continents-world</figcaption>
            </figure>

        </div>

    </div>
    <br>
    <div class="row justify-content-around">
          
        <div class="style1 box card " style="width: 12rem;">
            <a [routerLink]= "['/northamerica']"  >
            <img class="card-img-top" src="assets/image/North-America_03.jpg" alt="Card image cap">
            
                <div class="card-body">
                <h6 class=" card-title style text-primary">North America</h6>
                
            </div>
        </a>
        </div>
       
          
        <div class="style1 box card " style="width: 12rem;">
            <a [routerLink]= "['/southamerica']"  >
            <img class="card-img-top" src="assets/image/south-america_03.jpg" alt="Card image cap">
            <div class="card-body">
                <h6 class="style card-title text-primary">South America</h6>
                
            </div>
        </a>
        </div>
   
   
        <div class="style1 box card " style="width: 12rem;">
            <a [routerLink]= "['/europe']"  >
            <img class="card-img-top" src="assets/image/Europe_03.jpg" alt="Card image cap">
            <div class="card-body">
                <h6 class="style card-title text-primary">Europe</h6>
                
            </div>
        </a>
        </div>
    
        <div class="style1 box card " style="width: 12rem;">
            <a [routerLink]= "['/asia']"  >
            <img class="card-img-top" src="assets/image/Asia_03.jpg" alt="Card image cap">
            <div class="card-body">
                <h6 class="style card-title text-primary">Asia</h6>
                
            </div>
        </a>
        </div>
        <div class="style1 box card " style="width: 12rem;">
            <img class="card-img-top" src="assets/image/Australia_03.jpg" alt="Card image cap">
            <div class="card-body">
                <h6 class="style card-title text-primary">Australia</h6>
                
            </div>
        </div>
        <div class="style1 box card " style="width: 12rem;">
            <img class="card-img-top" src="assets/image/Africa_03.jpg" alt="Card image cap">
            <div class="card-body">
                <h6 class="style card-title text-primary">Africa</h6>
                
            </div>
        </div>
       
    </div>


</div>
