.box {
    width: 30%;
    height: 200px;
    border: 5px dashed #f7a239;
  }
  
  img {
    width: 100%;
    height: 100%;
  }

  p{margin-top: 2em;}

  .bolder {
    font-weight: bolder;
 }
 first-alphabet-large::first-letter {
  font-size: 3rem; }
.textsize{font-size: 1rem;}

